//
//  Library+JSONKit.xcconfig
//  extThree20JSON
//
//  Created by Di Wu on 12-9-13.
//
//

#include "../common/Configurations/Library.xcconfig"

#include "../common/Configurations/Libraries.xcconfig"

BASE_PRODUCT_NAME       = extThree20JSON
PRODUCT_NAME            = $(BASE_PRODUCT_NAME)+JSONKit
BUILD_LIBRARY_VERSION   = 1.0

// We override these paths in order to copy the headers to the same directory,
// regardless of target.
PRIVATE_HEADERS_FOLDER_PATH   = /../three20/$(BASE_PRODUCT_NAME)/private
PUBLIC_HEADERS_FOLDER_PATH    = /../three20/$(BASE_PRODUCT_NAME)
GCC_PREFIX_HEADER             = $(SRCROOT)/Headers/$(BASE_PRODUCT_NAME)+JSONKit_Prefix.pch